{include file=header.html}
<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/lxwm.css"/>
		<div class="lxwm-container">
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/lxwm_02.jpg">
			</div>
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/lxwm_04.jpg">
			</div>
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/lxwm_05.jpg">
				<div class="item" style="top: 277px; left: 5px;">
					<h4>东兔装饰公司 - 北京</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：北京市朝阳区</span>
					</p>
				</div>
				<div class="item" style="top: 277px; left: 317px;">
					<h4>东兔装饰公司 - 成都</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：成都市锦江区</span>
					</p>
				</div>
				<div class="item" style="top: 277px; left: 629px;">
					<h4>东兔装饰公司 - 南充</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：南充市嘉陵区</span>
					</p>
				</div>
				<div class="item" style="top: 277px; left: 942px;">
					<h4>东兔装饰公司 - 贵阳</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：贵阳市富水中路/<span>
					</p>
				</div>
				<div class="item" style="top: 730px; left: 5px;">
					<h4>东兔装饰公司 - 昆明</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：昆明市官渡区</span>
					</p>
				</div>
				<div class="item" style="top: 730px; left: 317px;">
					<h4>东兔装饰公司 - 西安</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：西安市丰庆路</span>
					</p>
				</div>
				<div class="item" style="top: 730px; left: 629px;">
					<h4>东兔装饰公司 - 长沙</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：长沙市开福区黄兴路<span>
					</p>
				</div>
				<div class="item" style="top: 730px; left: 942px;">
					<h4>东兔装饰公司 - 合肥</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：合肥市包河区</span>
					</p>
				</div>
			</div>




			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/lxwm_06.jpg">
				<div class="item" style="top: 263px; left: 5px;">
					<h4>东兔装饰公司 - 重庆</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：重庆江北区红黄路<span>
					</p>
				</div>
				<div class="item" style="top: 263px; left: 317px;">
					<h4>东兔装饰公司 - 南京</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：南京市建邺区</span>
					</p>
				</div>
				<div class="item" style="top: 263px; left: 629px;">
					<h4>东兔装饰公司 - 石家庄</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址： 石家庄市</span>
					</p>
				</div>
				<div class="item" style="top: 263px; left: 942px;">
					<h4>东兔装饰公司 - 济宁</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：山东省济宁市任城区</span>
					</p>
				</div>
				<div class="item" style="top: 720px; left: 5px;">
					<h4>东兔装饰公司 - 武汉</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：武汉市硚口区硚口路</span>
					</p>
				</div>
				<div class="item" style="top: 720px; left: 317px;">
					<h4>东兔装饰公司 - 天津</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：天津市和平区</span>
					</p>
				</div>
				<div class="item" style="top: 720px; left: 629px;">
					<h4>东兔装饰公司 - 苏州</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：苏州市苏州园区</span>
					</p>
				</div>
				<div class="item" style="top: 720px; left: 942px;">
					<h4>东兔装饰公司 - 济南</h4>
					<h4>电 话：{pboot:companyphone}</h4>
					<p>
						<span>地址：济南市泉城路</span>
					</p>
				</div>


				<div class="ztbd">
					<img src="{pboot:sitetplpath}/img/lxwm_07.jpg">
					<div class="item" style="top: 254px; left: 5px;">
						<h4>东兔装饰公司 - 广州</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：广州市天河区<span>
						</p>
					</div>
					<div class="item" style="top: 254px; left: 317px;">
						<h4>东兔装饰公司 - 大连</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：大连市沙河口区</span>
						</p>
					</div>
					<div class="item" style="top: 254px; left: 629px;">
						<h4>东兔装饰公司 - 沈阳</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：沈阳市铁西区保工北街</span>
						</p>
					</div>
					<div class="item" style="top: 254px; left: 942px;">
						<h4>东兔装饰公司 - 上海</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：上海市</span>
						</p>
					</div>
					<div class="item" style="top: 714px; left: 5px;">
						<h4>东兔装饰公司 - 福州</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：福州市台江区</span>
						</p>
					</div>
					<div class="item" style="top: 714px; left: 317px;">
						<h4>东兔装饰公司 - 太原</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：山西省太原市小店区</span>
						</p>
					</div>
					<div class="item" style="top: 714px;left: 629px;">
						<h4>东兔装饰公司 - 青岛</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：青岛市市北区</span>
						</p>
					</div>
					<div class="item" style="top: 714px; left: 942px;">
						<h4>东兔装饰公司 - 杭州</h4>
						<h4>电 话：{pboot:companyphone}</h4>
						<p>
							<span>地址：杭州市江干区机场路</span>
						</p>
					</div>


					<div class="ztbd">
						<img src="{pboot:sitetplpath}/img/lxwm_08.jpg">
						<div class="item" style="top: 250px; left: 5px;">
							<h4>东兔装饰公司 - 无锡</h4>
							<h4>电 话：{pboot:companyphone}</h4>
							<p>
								<span>地址：无锡市梁溪区<span>
							</p>
						</div>
						<div class="item" style="top: 250px; left: 317px;">
							<h4>东兔装饰公司 - 银川</h4>
							<h4>电 话：{pboot:companyphone}</h4>
							<p>
								<span>地址：银川市兴庆区塞上凝聚力商业中心<span>
							</p>
						</div>
						<div class="item" style="top: 250px; left: 629px;">
							<h4>东兔装饰公司-苏州总部</h4>
							<h4>电话：{pboot:companyphone}</h4>
							<p>
								<span>地址：苏州<span>
							</p>
						</div> -->
					</div>
				</div>

			</div>












{include file=footer.html}
