{include file=header.html}
<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/ccwl.css"/>

		<div class="ccwl-container">

			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_02.jpg" >
			</div>
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_04.jpg" >
			</div>
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_05.jpg" >
				
<form action="{pboot:form fcode=3}"  method="post">						
				<input type="text" class="bm-input" style="top:75px;left: 615px;" placeholder="请输入您的称呼" name="name" id="bm-input" required>
				<input type="text" class="bm-input" style="top:120px;left: 615px;" placeholder="请输入您的电话" name="tel" required>
				<input type="text" class="bm-input" style="top:165px;left: 615px;" placeholder="您的房屋面积" name="size" required>
				<input type="submit" class="input_on" name="" id="" value="" / style="position: absolute;top: 70px;right: 62px;width: 259px;height: 131px;">
				
</form>					
				
			</div>

			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_06.jpg" >
			</div>


			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_07.jpg" >
			</div>

			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_08.jpg" >
			</div>
			
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_09.jpg" >
			</div>
			
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_10.jpg" >
			</div>
			
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/ccwl-1_11.jpg" >
				<a href="#bm-input" style="position: absolute;top:132px;width:330px;height:70px;left:434px"></a>
			</div>
			
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/1_12.jpg" >
				<!-- <a href="/" style="position: absolute;top: 409px;left: 442px;width: 290px;height: 78px;"></a> -->
			</div>


		</div>












		{include file=footer.html}
