{include file=header.html}

<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/gctx.css"/>

		<div class="special-container">
			<div class="pc-special-wrap">
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/62942789806624419b4669d41796dc8b.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/5a79634f92563ae47c455a7886619ee6.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/3c179994c75b5b12805007a8bef205d3.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/589b00aac83d4fba99879a74dd6debac.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/a700840b1110fea4241e49b819d62fd4.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/ec20636f4012ebb8f19c0430c6184f35.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/3b44a5d52385e6562cf36087a91f4b1b.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/47d3bf8594978a72fe0ca2d14af64e6e.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/a98883fcec18f064dd75927d87275dfb.jpg">
				</div>
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/a6e94e544e3579c74b64335f3e0d6809.jpg">
				</div>

				<div class="spceial-hotpints-wrap">
					
					
					
					
					
<form action="{pboot:form fcode=3}"  method="post">
					<div class="hotpints" style="top: 1609px; left: 241px; width: 233px; height: 54px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="请输入您的姓名" required>
					</div>
					<div class="hotpints" style="top: 1609px; left: 498px; width: 233px; height: 54px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="请输入您的电话" required>
					</div>
					<div class="hotpints" style="top: 1608px; left: 752px; width: 207px; height: 54px;">
						<div class="hotpints-resize"></div>
						<input type="submit" name="" class="DOM" value="">
					</div>



</form>

<form action="{pboot:form fcode=3}"  method="post">
					<div class="hotpints" style="top: 3690px; left: 241px; width: 234px; height: 53px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="请输入您的姓名" required>
					</div>
					<div class="hotpints" style="top: 3690px; left: 498px; width: 234px; height: 53px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="请输入您的电话" required>
					</div>
					<div class="hotpints" style="top: 3689px; left: 754px; width: 204px; height: 53px;">
						<div class="hotpints-resize"></div>
						<input type="submit" name="" class="DOM" value="">
					</div>
</form>


<form action="{pboot:form fcode=3}"  method="post">
	
	
					<div class="hotpints" style="top: 5533px; left: 115px; width: 297px; height: 49px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="填写您的称呼" required id="1">
					</div>
					<div class="hotpints" style="top: 5599px; left: 115px; width: 297px; height: 49px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="填写您的电话" required>
					</div>
					<div class="hotpints" style="top: 5672px; left: 5px; width: 407px; height: 63px;">
						<div class="hotpints-resize"></div>
						<input type="submit" name="" class="DOM" value="">
					</div>
					
					
</form>

					<div class="hotpints" style="top: 5173px; left: 767px; width: 128px; height: 48px;">
						<div class="hotpints-resize"></div>
						<a href="#1" class="DOM"></a>
					</div>






					<div class="hotpints" style="top: 3353px; left: 0px; width: 1200px; height: 270px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container3" style="width: 100%;height: 100%;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/7b19efd46d7e26875e383b2dad166ec5.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/709b68b06eac4a9420798f16b20ffd3b.png"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container3', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>






					<div class="hotpints" style="top: 2444px; left: 0px; width: 1200px; height: 575px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container2" style="width: 100%;height: 100%;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/ec9ea5ceaf920e45a7c85961261f5fc5.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/7159a92426b11fafb1bc29e4df68da90.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/4c215ca404caa9fafa116e752531dbb4.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/7346b3bc3a168dd153ee293e88338fc9.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/331e4be7f36d67194ffec31254538975.jpg"></div>
							</div>
						</div>
						<script>
							var swiper = new Swiper('.swiper-container2', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>




					<div class="hotpints" style="top: 4043px; left: 22px; width: 1160px; height: 258px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container1" style="width: 100%;height: 100%;overflow: hidden;">
							<div class="swiper-wrapper">
								<style type="text/css">
									.hotpints .swiper-container .four{
										width: 276px !important;
									}
								</style>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/e003be44168e8a79abf11d65d0e93239.jpg"></div>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/e086f4e46d2912d065d41f8d03fec6a4.jpg"></div>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/b93e8528309c398cc8cd51c818fa60e0.jpg"></div>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/0aecbdd2d8c6a0a8857a791adea384d4.jpg"></div>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/e1118338a4755cb7ecac9e34d515a1e3.jpg"></div>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/37f11a641fd3fdcf99dfaf35d8229103.jpg"></div>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/64a531eff9f44249ca8759b433fc0eae.jpg"></div>
								<div class="swiper-slide four"><img src="{pboot:sitetplpath}/img/b652c78537c850ba229ef93a681e7363.jpg"></div>
							</div>

							
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<!-- Initialize Swiper -->
						<script>
						    var swiper = new Swiper('.swiper-container1', {
						      slidesPerView:4,
						      spaceBetween: 30,
						      pagination: {
						        el: '.swiper-pagination',
						        clickable: true,
						      },
							  navigation: {
							  	nextEl: '.swiper-button-next',
							  	prevEl: '.swiper-button-prev',
							  },
						    });
						  </script>
					</div>





					<div class="hotpints" style="top: 1373px; left: 0px; width: 1198px; height: 157px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<style type="text/css">
									/* .hotpints .swiper-container .one{
										width: 150px !important;
									} */
									
									    .hotpints .swiper-container .swiper-slide  {
									      text-align: center;
									      /* font-size: 18px;
									      background: #fff; */
									      /* Center slide text vertically */
									      display: -webkit-box;
									      display: -ms-flexbox;
									      display: -webkit-flex;
									      display: flex;
									      -webkit-box-pack: center;
									      -ms-flex-pack: center;
									      -webkit-justify-content: center;
									      justify-content: center;
									      -webkit-box-align: center;
									      -ms-flex-align: center;
									      -webkit-align-items: center;
									      align-items: center;
										  }
								</style>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/de2e9f37bf82b1358df89121c1242a08.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/2900cb9dfb5a7ba730c61c24ad26a88d.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/4e47617fccdd3d30dd8e7d66083bc5e0.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/bcd93a1861aecf2a59fe3a5e26901a71.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/647d21d5527524d7a0c6be00ad0a75dc.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/737b68be421cf03860291fe9101625ae.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/6a9ac0215c6c63c49da305b7678239b3.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/935608301bff0e847a1adce9795dfb9b.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/f32bcaed349b5c837775469d2f8c8520.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/cc8ec31a0741d24ebd082b8103633fbb.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/3dd25719bf9fcf4745acb933005a93bc.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/ac17f93cd705fbe2705d3384653b65bf.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/8b9ae53aaae3ff347d65fca5f404af48.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/8200086e68f10480d2f6d56152a33910.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/b09557d1ba575125626c8cdf3c4ba797.jpg"></div>
								<div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/e44a9316f8157541bfe5750178ecfa1d.jpg"></div>
								
								
							</div>
					
							
						</div>
						<!-- <div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div> -->
						<!-- Initialize Swiper -->
						<script>
						    var swiper = new Swiper('.swiper-container', {
						      slidesPerView: 6,
						      spaceBetween: 1,
						      pagination: {
						        el: '.swiper-pagination',
						        clickable: true,
						      },
						    });
						  </script>
					</div>



					












				</div>
			</div>
		</div>













{include file=footer.html}