{include file=header.html}

<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/gywm.css"/>

		<div class="special-container">
			<div class="pc-special-wrap">
				<div class="pc-pc-special-img">
					<img src="{pboot:sitetplpath}/img/2f6416df28d96d632fd7ee4da323b512.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/1f2fd5050ef136d3ce643f32ec237e9a.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/95c8e2dd8291058ebd70d8c2d31ab8db.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/43240d3b11b140987cbd38886e13f234.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/0453038a8d8f90918787b3096f7792b9.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/2f871a271fd991f775a7853d3d7d0452.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/4baec77f3df14ab5288c2cb075dc7459.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/bb97fa4951939368ecc79942aa4c92fc.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/6076223a581bc5c0aea07df50393436b.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/2b8686a558a2513f76efe514a23bfd87.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cb1962879630f6964844aa0f43a71629.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/c310565d9b20e821c913757b6b03be76.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/b3542e52911608a7393a9f7f9973dbb0.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/56a2c1e91d242dffa44572228603ab8b.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/5fea116e139d5a63debf5a2fa2c5faa4.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/78897eec41faa3e6964390258d85e3df.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/e2d399467b654d792a9bb32d5a338c6c.jpg">
				</div>


				<div class="spceial-hotpints-wrap">
					
					
					<div class="hotpints" style="top: 2153px; left: -2px; width: 1200px; height: 162px;">
						<div class="hotpints-resize"></div>
						
						
						
						
						
						
						<style type="text/css">
							.one img{
								width: 100%;
								height: 100%;
							}
						</style>
						
						
						
						 <div class="swiper-container1" style="width: 100%;height: 100%;overflow: hidden;">
						    <div class="swiper-wrapper">
						      <div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/0e051041aa84fec3e8ce1a83887eb09a.png"></div>
						      <div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/1c1d25c62e611b4a20a4a17190409702.jpg"></div>
						      <div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/1e5df4d665d411466dae38dde91face9.jpg"></div>
						      <div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/2f0053c76344929122324cbb76fc3320.jpg"></div>
						      <div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/3f9090900f6e4af223b4bfa9eaa594a1.jpg"></div>
						      <div class="swiper-slide one"><img src="{pboot:sitetplpath}/img/4be84befdd2fdce7be006ddd079b1880.jpg"></div>
						    </div>
						</div>
						  
						 
						<script>
						    var swiper = new Swiper('.swiper-container1', {
						      slidesPerView:4,
						      spaceBetween: 30,
						      pagination: {
						        el: '.swiper-pagination',
						        clickable: true,
						      },
						    });
						  </script>
						  
						  
						<!-- Swiper -->
						<!-- <div class="swiper-container">
							<div class="swiper-wrapper">
								<style type="text/css">
									.spceial-hotpints-wrap .swiper-container .one{
										width: 246px !important;
									}
								</style>
								<div class="swiper-slide one" style="width: 246px!important;"><img src="{pboot:sitetplpath}/img/4bd30d5e297617c56b31b43b19efecec.jpg"></div>
								<div class="swiper-slide one" style="width: 246px!important;"><img src="{pboot:sitetplpath}/img/20556198c9b766b8e4073eacaf949dff.jpg"></div>
								<div class="swiper-slide one" style="width: 246px!important;"><img src="{pboot:sitetplpath}/img/bd0cd348bb70e9c134d947d723b61229.jpg"></div>
								<div class="swiper-slide one" style="width: 246px!important;"><img src="{pboot:sitetplpath}/img/bb0223384ac78b9617d9716702d62221.jpg"></div>
								<div class="swiper-slide one" style="width: 246px!important;"><img src="{pboot:sitetplpath}/img/058f4c4babbea57527d38db2d30dfd0e.jpg"></div>
								<div class="swiper-slide one" style="width: 246px!important;"><img src="{pboot:sitetplpath}/img/e82e90ae03e98a5ccd65b2de37a9b306.jpg"></div>
							</div>
						</div> -->
						<!-- Initialize Swiper -->

						<!-- <script>
						    var swiper = new Swiper('.swiper-container', {
						      slidesPerView: 5,
						      spaceBetween: 1,
						      pagination: {
						        el: '.swiper-pagination',
						        clickable: true,
						      },
						    });
						 </script> -->

					</div>
					
					
					<!-- <div class="hotpints" style="top: 4206px; left: 186px; width: 409px; height: 195px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void();" class="DOM"></a>
					</div>
					<div class="hotpints" style="top: 4207px; left: 600px; width: 409px; height: 195px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void();" class="DOM"></a>
					</div> -->
					
					{pboot:sort scode=13}
					<div class="hotpints" style="top: 5330px; left: 467px; width: 264px; height: 59px;">
						<div class="hotpints-resize"></div>
						<a href="[sort:link]" class="DOM"></a>
					</div>
					{/pboot:sort}
					<div class="hotpints" style="top: 9784px; left: 774px; width: 200px; height: 63px;">
						<div class="hotpints-resize"></div>
						<a href="" class="DOM"></a>
					</div>
						
						
						<style type="text/css">
							.one{
								right: -45px!important;
							}
							
						</style>
					<div class="hotpints one" style="top: 6711px; left: 97px; width: 1025px; height: 232px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/7e46603a4897fab9b6855c600199ea6e.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/9b1f08fa7b5092c323651db764215846.png"></div>
							</div>
						</div>
						<div class="swiper-button-next one"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>

					<div class="hotpints" style="top: 8638px; left: 101px; width: 993px; height: 503px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/vx-1.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/vx-2.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/vx-3.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/vx-4.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/vx-5.jpg"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>





<form action="{pboot:form fcode=4}"  method="post">


					<div class="hotpints" style="top: 9528px; left: 236px; width: 255px; height: 49px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="size" class="DOM" value="" placeholder="请输入您的房屋面积" required>
					</div>
					<div class="hotpints" style="top: 9597px; left: 236px; width: 283px; height: 49px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="请输入您的称呼" required>
					</div>
					<div class="hotpints" style="top: 9664px; left: 237px; width: 283px; height: 49px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="输入号码，发送报价结果到手机" required>
					</div>
					<div class="hotpints" style="top: 9562px; left: 561px; width: 115px; height: 113px;">
						<div class="hotpints-resize"></div>
						<input type="submit" class="DOM" value="" />
					</div>

</form>
					<div class="hotpints" style="top: 2977px;left: -256px;width: 1723px;height: 458px;">
						<div class="hotpints-resize"></div>
						<div class="swiper" style="width: 100%;height: 100%;">
							<ul class="pic">
								<li class="now"><a href="#"><img src="{pboot:sitetplpath}/img/6593bb61d4cf5c7bee9b667285ca8598.jpg"></a>
								</li>
								<li class="next"><a href="#"><img src="{pboot:sitetplpath}/img/ead3a76a0220bd55f676df32aa5f5430.jpg"></a>
								</li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/8009afafc162725fb013e49ce4a5529a.jpg"></a></li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/804d302628b92810f1153d1af000215d.jpg"></a></li>
							</ul>
							<ol class="cricle"></ol>
							<div class="btns">
								<a href="javascript:;" class="leftbtn" style="float: left; margin-left: 6px;"></a>
								<a href="javascript:;" class="rightbtn" style="float: right; margin-right: 6px;"></a>
							</div>
							<div class="leftBox"></div>
							<div class="rightBox"></div>
						</div>
					</div>



<form action="{pboot:form fcode=3}"  method="post">
	
	
	
	
	
	<div class="hotpints" style="top: 1317px; left: 471px; width: 273px; height: 62px;">
		<div class="hotpints-resize"></div>
		<input type="text" name="tel" class="DOM" value="" placeholder="输入号码预约咨询" required>
	</div>
	<div class="hotpints" style="top: 1317px; left: 190px; width: 272px; height: 64px;">
		<div class="hotpints-resize"></div>
		<input type="text" name="name" class="DOM" value="" placeholder="您的称呼" required>
	</div>
	<div class="hotpints" style="top: 1317px; left: 750px; width: 272px; height: 61px;">
		<div class="hotpints-resize"></div>
		<input type="submit" name="" class="DOM" value="" />
	</div>
	
	

	
	

	
  
</form>


<form action="{pboot:form fcode=3}"  method="post">
	<div class="hotpints" style="top: 3518px; left: 468px; width: 269px; height: 60px;">
		<div class="hotpints-resize"></div>
		<input type="text" name="tel" class="DOM" value="" placeholder="输入号码预约咨询" required>
	</div>
	<div class="hotpints" style="top: 3516px; left: 188px; width: 268px; height: 62px;">
		<div class="hotpints-resize"></div>
		<input type="text" name="name" class="DOM" value="" placeholder="您的称呼" required>
	</div>
	<div class="hotpints" style="top: 3517px; left: 748px; width: 267px; height: 62px;">
		<div class="hotpints-resize"></div>
		<input type="submit" name="" class="DOM" value="" />
	</div>
</form>


<form action="{pboot:form fcode=3}"  method="post">
	<div class="hotpints" style="top: 6983px; left: 460px; width: 270px; height: 62px;">
		<div class="hotpints-resize"></div>
		<input type="text" name="tel" class="DOM" value="" placeholder="输入号码预约参观工地" required>
	</div>
	<div class="hotpints" style="top: 6982px; left: 181px; width: 271px; height: 61px;">
		<div class="hotpints-resize"></div>
		<input type="text" name="name" class="DOM" value="" placeholder="您的称呼" required>
	</div>
	<div class="hotpints" style="top: 6979px; left: 742px; width: 267px; height: 60px;">
		<div class="hotpints-resize"></div>
		<input type="submit" name="" class="DOM" value="" />
	</div>	
</form>


					



					<div class="hotpints"
						style="top: 9898px; left: 151px; width: 987px; height: 75px;font-size: 14px;font-weight:600;">

						【东兔】【书生商友信息科技旗下品牌】专注品质家装10年，覆盖全国25城，拥有12万平线下家居体验馆，8万平仓储体量。自建全球供应链体系，严选进口国际一线品牌，原产地直采。1+N设计服务团队，硬装、软装、定制收纳设计师专属服务，提供健康环保的一站式整装解决方案。咨询热线：{pboot:companyphone}。

					</div>
				</div>

			</div>

		</div>









{include file=footer.html}
