{include file=header.html}


<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/jpal_tz.css"/>

		<div class="jpal-show-container">
			<div class="jpal-banner" style="background-image: url({pboot:sitetplpath}/img/a6c4a5f5347f80cde65c58b106fb21ff.png)">
				<div class="jpal-banner-show">
					<p class="jpal-banner-title"><span>美好生活</span>小确幸</p>
					<p class="jpal-banner-intro-one">舒适家居生活</p>
					<p class="jpal-banner-intro-two">一家人在一起，就是美好的生活</p>
					<p class="jpal-banner-intro-three"></p>
					<a href="javascript:void();" class="mfbj">立即预约设计</a>
				</div>
			</div>

			<div class="jpal-designer">
				<div class="jpal-designer-left">
					<div style="background-image: url({content:ext_0riginalhousetype})">
					</div>
					<p>原始户型图</p>
				</div>
				<div class="jpal-designer-right">
					<!--  设计师人物
					<div class="des-head-left">
						<div class="des-show-headimg"
							style="background-image: url({content:ext_authorthumbnail})">
						</div>
						<div class="des-show-info">
							<h2>DESIGNER</h2>
							<h3>{content:author}<span>
									<i></i><i></i><i></i><i></i><i></i> </span></h3>
							<h5>{content:ext_position}</h5>
							<p>{content:ext_goodatstyle}</p>
							<div>
								<h5><span>121</span>人气</h5>
								<div>
									<a href="">找TA设计</a>
									<a href="">我要评论</a>
								</div>
							</div>
						</div>
					</div>

					-->
					<div class="jpal-design-info">
						{content:content}
					</div>
				</div>
			</div>






			<div class="jpal-content">
				<div class="jpal-block">
					<p class="jpal-block-title"><img src="{pboot:sitetplpath}/img/img3.jpg"></p>
					<div class="jpal-block-cover jpal-block-cover-one"
						style="background-image: url({content:ext_kt_pic})">
					</div>
					<div class="jpal-block-intro">
						<p class="jpal-block-intro-title jpal-block-intro-title-one"></p>
						<p class="jpal-block-intro-des">{content:ext_kt_jiedu}</p>
					</div>
					<p class="jpal-tag"><img
							src="{pboot:sitetplpath}/img/img21.jpg">
					</p>
				</div>
				
				
				
				<div class="jpal-block">
					<p class="jpal-block-title"><img
							src="{pboot:sitetplpath}/img/img5.jpg">
					</p>
					<div class="jpal-block-cover jpal-block-cover-two"
						style="background-image: url({content:ext_ct_pic})">
					</div>
					<div class="jpal-block-intro">
						<p class="jpal-block-intro-title jpal-block-intro-title-two" style="background: url({pboot:sitetplpath}/img/img16.jpg);background-position: center;
    background-repeat: no-repeat;"></p>
						<p class="jpal-block-intro-des">{content:ext_ct_jiedu}</p>
					</div>
					<p class="jpal-tag"><img
							src="{pboot:sitetplpath}/img/img21.jpg">
					</p>
					
					
					
					
				</div>
				<div class="jpal-block">
					<p class="jpal-block-title"><img
							src="{pboot:sitetplpath}/img/img7.jpg">
					</p>
					<div class="jpal-block-cover jpal-block-cover-three"
						style="background-image: url({content:ext_cw_pic})">
					</div>
					<div class="jpal-block-intro">
						<p class="jpal-block-intro-title jpal-block-intro-title-three"style="background: url({pboot:sitetplpath}/img/img17.jpg);background-position: center;
    background-repeat: no-repeat;"></p>
						<p class="jpal-block-intro-des">{content:ext_cw_jiedu}</p>
					</div>
					<p class="jpal-tag"><img
							src="{pboot:sitetplpath}/img/img21.jpg">
					</p>
					
					
					
				</div>
				<div class="jpal-block">
					<p class="jpal-block-title"><img
							src="{pboot:sitetplpath}/img/img9.jpg">
					</p>
					<div class="jpal-block-cover jpal-block-cover-four"
						style="background-image: url({content:ext_zw_pic})">
					</div>
					<div class="jpal-block-intro">
						<p class="jpal-block-intro-title jpal-block-intro-title-four"style="background: url({pboot:sitetplpath}/img/img18.jpg);background-position: center;
    background-repeat: no-repeat;"></p>
						<p class="jpal-block-intro-des">{content:ext_zw_jiedu}</p>
					</div>
					<p class="jpal-tag"><img
							src="{pboot:sitetplpath}/img/img21.jpg">
					</p>
					
					
					
				</div>
				<div class="jpal-block">
					<p class="jpal-block-title"><img
							src="{pboot:sitetplpath}/img/img11.jpg">
					</p>
					<div class="jpal-block-cover jpal-block-cover-five"
						style="background-image: url({content:ext_wsj_pic})">
					</div>
					<div class="jpal-block-intro">
						<p class="jpal-block-intro-title jpal-block-intro-title-five"style="background: url({pboot:sitetplpath}/img/img19.jpg);background-position: center;
    background-repeat: no-repeat;"></p>
						<p class="jpal-block-intro-des">{content:ext_wsj_jiedu}</p>
					</div>
					<p class="jpal-tag"><img
							src="{pboot:sitetplpath}/img/img21.jpg">
					</p>
					
					
					
					
					
					
				</div>
				<div class="jpal-block">
					<p class="jpal-block-title"><img
							src="{pboot:sitetplpath}/img/img20.jpg">
					</p>
					<div class="jpal-block-intro jpal-block-intro-end">
						<div class="jpal-img-tou"
							style="background-image: url({pboot:sitetplpath}/img/img22.jpg)">
						</div>
						<div class="jpal-img-tou-des">{content:ext_xb_jiedu}</div>
					</div>
				</div>
				<p class="jpal-button"><a href="javascript:void();" class="mfbj">预约装修</a></p>
				<div class="jpal-tj">
					<p class="jpal-tj-title">案例推荐</p>
					<div class="jpal-tj-bbox">
						{pboot:list scode=8 num=4}
						<a href="[list:link]">
							<div class="jpal-tj-box">
								<div class="jpal-tj-box-img jpal-tj-box-img-one"
									style="background-image: url([list:ico])">
								</div>
								<p class="jpal-tj-box-title jpal-tj-box-title-one"><span>[list:title]</span>
								</p>
							</div>
						</a>
						{/pboot:list}
					</div>
				</div>
			</div>














		</div>
















{include file=footer.html}