{include file=header.html}
<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/qqzc.css"/>
		<div class="special-container">
			<div class="pc-special-wrap">
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_0.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_1.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_2.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_3.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_4.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_5.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_6.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_7.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_8.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_9.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_10.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_11.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/cd275cc92440dd3a63c62a243e6d3a63_12.jpg">
				</div>



				<div class="spceial-hotpints-wrap">
					<div class="hotpints" style="top: 1079px; left: 46px; width: 141px; height: 43px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>

					<div class="hotpints" style="top: 3847px; left: 47px; width: 141px; height: 43px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>

					<div class="hotpints" style="top: 4369px; left: 44px; width: 141px; height: 43px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>

					<div class="hotpints" style="top: 4874px; left: 45px; width: 141px; height: 43px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>


					<div class="hotpints" style="top: 5406px; left: 45px; width: 141px; height: 43px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>

					<div class="hotpints" style="top: 5930px; left: 46px; width: 136px; height: 43px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>
					
					<div class="hotpints" style="top: 7144px; left: 780px; width: 191px; height: 64px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>









<form action="{pboot:form fcode=4}"  method="post">
					<div class="hotpints" style="top: 6889px; left: 236px; width: 253px; height: 48px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="size" class="DOM" value="" placeholder="" required>
					</div>
					<div class="hotpints" style="top: 6957px; left: 236px; width: 280px; height: 48px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="" required>
					</div>
					<div class="hotpints" style="top: 7024px; left: 238px; width: 280px; height: 48px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="" required>
					</div>
					<div class="hotpints" style="top: 6939px; left: 578px; width: 79px; height: 79px;">
						<div class="hotpints-resize"></div>
						<input type="submit" name="" class="DOM" value="" />
					</div>

</form>




					<!-- <div class="hotpints" style="top: 5600px;">
						<div class="hotpints-resize"></div>
						<div class="swiper" style="width: 867px;height: 360px;left: 385px;">
							<ul class="pic">
								<li class="now"><a href="#"><img src="{pboot:sitetplpath}/img/5-1.jpg"></a>
								</li>
								<li class="next"><a href="#"><img src="{pboot:sitetplpath}/img/5-2.jpg"></a>
								</li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/5-3.jpg"></a></li>

							</ul>
							<ol class="cricle" style="display: none;"></ol>
							<div class="btns">
								<a href="javascript:;" class="leftbtn" style="float: left; margin-left: 6px;"></a>
								<a href="javascript:;" class="rightbtn" style="float: right; margin-right: 6px;"></a>
							</div>
							<div class="leftBox"></div>
							<div class="rightBox"></div>
						</div>
					</div> -->









<style type="text/css">
	.hotpints .one{
		left: 200px !important;
	}
	.hotpints .two{
		right: 250px;
	}
</style>






<div class="hotpints" style="top: 5600px;left: 600px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container1" style="width: 660px;height: 360px;left: 385px;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/5-1.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/5-2.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/5-3.jpg"></div>

							</div>
						</div>
						</style>
						<div class="swiper-button-next next two"></div>
						<div class="swiper-button-prev prev one"></div>
						<script>
							var swiper = new Swiper('.swiper-container1', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>



<!-- 					<div class="hotpints" style="top: 5087px;">
						<div class="hotpints-resize"></div>
						<div class="swiper" style="width: 867px;height: 360px;left: 385px;">
							<ul class="pic">
								<li class="now"><a href="#"><img src="{pboot:sitetplpath}/img/5-1.jpg"></a>
								</li>
								<li class="next"><a href="#"><img src="{pboot:sitetplpath}/img/5-2.jpg"></a>
								</li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/5-3.jpg"></a></li>

							</ul>
							<ol class="cricle" style="display: none;"></ol>
							<div class="btns">
								<a href="javascript:;" class="leftbtn" style="float: left; margin-left: 6px;"></a>
								<a href="javascript:;" class="rightbtn" style="float: right; margin-right: 6px;"></a>
							</div>
							<div class="leftBox"></div>
							<div class="rightBox"></div>
						</div>
					</div> -->
					
					
					
					
					
					
					
					
<div class="hotpints" style="top: 5087px;left: 600px;"">
						<div class="hotpints-resize"></div>
						<div class="swiper-container2" style="width: 660px;height: 360px;left: 385px;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/4-1.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/4-2.jpg"></div>


							</div>
						</div>

						<div class="swiper-button-next next two"></div>
						<div class="swiper-button-prev prev one"></div>
						<script>
							var swiper = new Swiper('.swiper-container2', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>





<!-- 					<div class="hotpints" style="top: 4565px;">
						<div class="hotpints-resize"></div>
						<div class="swiper" style="width: 867px;height: 360px;left: 385px;">
							<ul class="pic">
								<li class="now"><a href="#"><img src="{pboot:sitetplpath}/img/5-1.jpg"></a>
								</li>
								<li class="next"><a href="#"><img src="{pboot:sitetplpath}/img/5-2.jpg"></a>
								</li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/5-3.jpg"></a></li>

							</ul>
							<ol class="cricle" style="display: none;"></ol>
							<div class="btns">
								<a href="javascript:;" class="leftbtn" style="float: left; margin-left: 6px;"></a>
								<a href="javascript:;" class="rightbtn" style="float: right; margin-right: 6px;"></a>
							</div>
							<div class="leftBox"></div>
							<div class="rightBox"></div>
						</div>
					</div> -->









<div class="hotpints" style="top: 4565px;left: 600px;"">
						<div class="hotpints-resize"></div>
						<div class="swiper-container3" style="width: 660px;height: 360px;left: 385px;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/3-1.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/3-2.jpg"></div>


							</div>
						</div>

						<div class="swiper-button-next next two"></div>
						<div class="swiper-button-prev prev one"></div>
						<script>
							var swiper = new Swiper('.swiper-container'3, {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					
					
					
					
<!-- 
					<div class="hotpints" style="top: 4045px;">
						<div class="hotpints-resize"></div>
						<div class="swiper" style="width: 867px;height: 360px;left: 385px;">
							<ul class="pic">
								<li class="now"><a href="#"><img src="{pboot:sitetplpath}/img/5-1.jpg"></a>
								</li>
								<li class="next"><a href="#"><img src="{pboot:sitetplpath}/img/5-2.jpg"></a>
								</li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/5-3.jpg"></a></li>

							</ul>
							<ol class="cricle" style="display: none;"></ol>
							<div class="btns">
								<a href="javascript:;" class="leftbtn" style="float: left; margin-left: 6px;"></a>
								<a href="javascript:;" class="rightbtn" style="float: right; margin-right: 6px;"></a>
							</div>
							<div class="leftBox"></div>
							<div class="rightBox"></div>
						</div>
					</div> -->





<div class="hotpints" style="top: 4045px;left: 600px;"">
						<div class="hotpints-resize"></div>
						<div class="swiper-container4" style="width: 660px;height: 360px;left: 385px;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/2-1.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/2-2.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/2-3.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/2-4.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/2-5.jpg"></div>

							</div>
						</div>

						<div class="swiper-button-next next two"></div>
						<div class="swiper-button-prev prev one"></div>
						<script>
							var swiper = new Swiper('.swiper-container4', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					
					


<!-- 					<div class="hotpints" style="top: 3530px;">
						<div class="hotpints-resize"></div>
						<div class="swiper" style="width: 867px;height: 360px;left: 385px;">
							<ul class="pic">
								<li class="now"><a href="#"><img src="{pboot:sitetplpath}/img/5-1.jpg"></a>
								</li>
								<li class="next"><a href="#"><img src="{pboot:sitetplpath}/img/5-2.jpg"></a>
								</li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/5-3.jpg"></a></li>

							</ul>
							<ol class="cricle" style="display: none;"></ol>
							<div class="btns">
								<a href="javascript:;" class="leftbtn" style="float: left; margin-left: 6px;"></a>
								<a href="javascript:;" class="rightbtn" style="float: right; margin-right: 6px;"></a>
							</div>
							<div class="leftBox"></div>
							<div class="rightBox"></div>
						</div>
					</div>
 -->






<div class="hotpints" style="top: 3530px;left: 600px;"">
						<div class="hotpints-resize"></div>
						<div class="swiper-container5" style="width: 660px;height: 360px;left: 385px;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/1-1.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/1-2.jpg"></div>
							</div>
						</div>

						<div class="swiper-button-next next two"></div>
						<div class="swiper-button-prev prev one"></div>
						<script>
							var swiper = new Swiper('.swiper-container5', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					
					
					


<!-- 					<div class="hotpints" style="top: 790px;">
						<div class="hotpints-resize"></div>
						<div class="swiper" style="width: 867px;height: 360px;left: 385px;">
							<ul class="pic">
								<li class="now"><a href="#"><img src="{pboot:sitetplpath}/img/6593bb61d4cf5c7bee9b667285ca8598.jpg"></a>
								</li>
								<li class="next"><a href="#"><img src="{pboot:sitetplpath}/img/ead3a76a0220bd55f676df32aa5f5430.jpg"></a>
								</li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/8009afafc162725fb013e49ce4a5529a.jpg"></a></li>
								<li><a href="#"><img src="{pboot:sitetplpath}/img/804d302628b92810f1153d1af000215d.jpg"></a></li>
							</ul>
							<ol class="cricle"></ol>
							<div class="btns">
								<a href="javascript:;" class="leftbtn" style="float: left; margin-left: 6px;"></a>
								<a href="javascript:;" class="rightbtn" style="float: right; margin-right: 6px;"></a>
							</div>
							<div class="leftBox"></div>
							<div class="rightBox"></div>
						</div>
					</div>
 -->




<div class="hotpints" style="top: 790px;left: 600px;"">
						<div class="hotpints-resize"></div>
						<div class="swiper-container6" style="width: 660px;height: 360px;left: 385px;overflow: hidden;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/15.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/16.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/17.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/18.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/19.jpg"></div>

							</div>
						</div>

						<div class="swiper-button-next next two"></div>
						<div class="swiper-button-prev prev one"></div>
						<script>
							var swiper = new Swiper('.swiper-container6', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					
					
					



				</div>






			</div>
		</div>

{include file=footer.html}