{include file=header.html}

<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/qwrz.css"/>
		<div class="special-container">
			<div class="pc-special-wrap">
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/279f42af8a5f4426ca61943e94438b35.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/f9225113eca3ae8bba5824936847f7ec.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/4a632c7b1800ddee7864ba48556ddcee.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/fa5442dcfd8749368a6c2445bda818d0.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/1c4e00aaab589428ddbbaf596d82ca63.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/ca4c7a9b910439ca57833d4fcc45c861.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/69efa951603feb6bd82509c705c79700.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/dd20e0f042c73d637aa235e0c0ad147c.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/873a6fbb5b3e5f981f7feb05bf6e91cc.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/016186f46aa6b15041bc96aae26f2664.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/f09bae96e7c7effd02500c6f0086497c.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/d586374c5c00fcacaf4ed9a4f29d4cc5.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/8934ce0956cd752690466d02a2bc7cd1.jpg">
				</div>

				<div class="spceial-hotpints-wrap">

					<div class="hotpints" style="top: 2065px; left: 1065px; width: 114px; height: 26px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>









<form action="{pboot:form fcode=4}"  method="post">		
					<div class="hotpints" style="top: 7137px; left: 374px; width: 216px; height: 60px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="您的称呼" required>
					</div>
					<div class="hotpints" style="top: 7139px; left: 605px; width: 212px; height: 56px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="size" class="DOM" value="" placeholder="您的房屋面积" required>
					</div>
					<div class="hotpints" style="top: 7246px; left: 379px; width: 438px; height: 51px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="您的手机号码" required>
					</div>
					<div class="hotpints" style="top: 7343px; left: 376px; width: 444px; height: 57px;">
						<div class="hotpints-resize"></div>
						<input type="submit" name="" class="DOM" value="" />
					</div>
</form>	





					<div class="hotpints" style="top: 5636px; left: 86px; width: 1031px; height: 632px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/d89ec47c21b908baad547d13b05b9774.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/627ba34f8b070c52bdbb532178348bfc.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/7ccbaf34bbcd0aaf5d781eac3c3ecb10.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/c09928a4995179e9a9e90426572bea7a.png"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>








				</div>






			</div>
		</div>

{include file=footer.html}
