{include file=header.html}

<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/ycgc.css"/>
		<div class="ycgc-container">

			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/1_02.jpg">
			</div>
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/1_04.jpg">
			</div>
			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/1_05.jpg">
				
<form action="{pboot:form fcode=3}"  method="post">				
				<input type="text" class="bm-input" style="left: 552px;top: 362px;width: 261px;" placeholder="请输入您的称呼" name="name" required>
				<input type="text" class="bm-input" style="top: 402px;left: 552px;width: 261px;" placeholder="请输入您的电话" name="tel" required>
				<!-- <input type="text" class="bm-input" style="width: 90px;top: 444px;left: 513px;" placeholder="验证码"> -->
				<!-- <div class="bm-input" style="width: 50px;top: 447px;left: 753px;font-size: 16px;color: #fff;">苏州</div> -->
				<input type="submit" class="input_on" name="" id="" value="" / style="height: 120px;width: 263px;">
				
</form>				
				
			</div>

			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/1_06.jpg">
				<img src="{pboot:sitetplpath}/img/01.png" class="hovering" style="top: 221px; left: 20px; display: none;">
				<img src="{pboot:sitetplpath}/img/02.png" class="hovering" style="top: 221px; left: 60px; display: none;">
				<img src="{pboot:sitetplpath}/img/03.png" class="hovering" style="top: 221px; left: 30px; display: none;">
				<img src="{pboot:sitetplpath}/img/04.png" class="hovering" style="top: 221px; left: 20px; display: none;">
				<img src="{pboot:sitetplpath}/img/05.png" class="hovering" style="top: 221px; left: 20px; display: none;">
				<img src="{pboot:sitetplpath}/img/06.png" class="hovering" style="top: 239px; left: 20px; display: none;">
				<img src="{pboot:sitetplpath}/img/07.png" class="hovering" style="top: 221px; left: 150px; display: none;">
				<img src="{pboot:sitetplpath}/img/08.png" class="hovering" style="top: 221px; left: 20px;">
				<img src="{pboot:sitetplpath}/img/09.png" class="hovering" style="top: 221px; left: 40px;">

			</div>


			<div class="ztbd">
				<img src="{pboot:sitetplpath}/img/1_07.jpg">
				
<form action="{pboot:form fcode=3}"  method="post">	
				<input type="text" class="bm-input" style="left: 552px;top: 137px;width: 261px;" placeholder="请输入您的称呼" name="name" required>
				<input type="text" class="bm-input" style="top: 177px;left: 552px;width: 261px;" placeholder="请输入您的电话" name="tel" required>
				<!-- <input type="text" class="bm-input" style="wwidth: 90px;top: 219px;left: 513px;" placeholder="验证码"> -->
				<!-- <div class="bm-input" style="width: 50px;top: 223px;left: 753px;font-size: 16px;color: #fff;">苏州</div> -->
				<input type="submit" class="input_on" name="" id="" value="" style="top: 133px;height: 120px;width: 263px;">
					
</form>		
			</div>

			<!-- <div class="ztbd">
				<img src="{pboot:sitetplpath}/img/1_08.jpg">
			</div> -->





			
			
			
		</div>




{include file=footer.html}