{include file=header.html}
<link rel="stylesheet" type="text/css" href="{pboot:sitetplpath}/css/zzcp.css"/>
		<div class="special-container">
			<div class="pc-special-wrap">
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_0.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_1.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_2.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_3.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_4.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_5.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_6.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_7.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_8.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_9.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_10.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_11.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_12.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_13.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_14.jpg">
				</div>
				<div class="pc-special-img">
					<img src="{pboot:sitetplpath}/img/35253e2118382ff41745b52248a76406_15.jpg">
				</div>
				<div class="spceial-hotpints-wrap">
					
					
					
<form action="{pboot:form fcode=4}"  method="post">					
					<div class="hotpints" style="top: 2951px;left: 94px;width: 306px;height: 43px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="请输入您的称呼" required>
					</div>
					<div class="hotpints" style="top: 3013px;left: 94px;width: 306px;height: 43px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="size" class="DOM" value="" placeholder="请输入您家的面积" required>
					</div>
					<div class="hotpints" style="top: 3075px;left: 94px;width: 306px;height: 43px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="输入号码，报价结果将发送到手机" required>
					</div>
					<div class="hotpints" style="top: 3139px; left: 93px; width: 311px; height: 52px;">
						<div class="hotpints-resize"></div>
						<input type="submit"  class="DOM" value="" >
					</div>
					

</form>				
					
					
					
					<div class="hotpints" style="top: 3236px; left: 532px; height: 45px; width: 194px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>
					<div class="hotpints" style="top: 4068px; left: 506px; width: 189px; height: 63px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>
					<div class="hotpints" style="top: 4473px; left: 50px; height: 396px; width: 1100px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/79310735281e07d84b1a10806f3ebdec.jpg"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/eecf220567fb61fe38d57ec82d8b63ab.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/b8421bddce2ef679b95828426891a5bf.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/583e7c5e86ff51b2175952a2d5282a68.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/07c17545b00497032cd747772bbf9bd4.png"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					<div class="hotpints" style="top: 4926px; left: 500px; width: 201px; height: 62px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljdg"></a>
					</div>
					<div class="hotpints" style="top: 5328px; left: 50px; height: 396px; width: 1100px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/6d8b01d039202ea5c748f42c5138e057.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/ff7b7bab57834aac3d584482d3b6c041.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/5f9f0be8fa9156d06f9305b5706a5d07.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/699f8c0266285fc0f1a01602950a7e0a.png"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					<div class="hotpints" style="top: 5782px; left: 505px; width: 189px; height: 65px;">
						<div class="hotpints-resize"></div>
						<a href="javascript:void(0);" class="DOM ljgd"></a>
					</div>
					
					
					{pboot:sort scode=13}
					<div class="hotpints" style="top: 7009px; left: 497px; width: 211px; height: 61px;">
						<div class="hotpints-resize"></div>
						<a href="[sort:link]" class="DOM"></a>
					</div>
					{/pboot:sort}
					
					
					<div class="hotpints" style="top: 7436px; left: 38px; width: 546px; height: 400px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/2707960e43a2faf874cc81758f93c362.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/7b18cc8ccfec785b955625005ce0ef0e.png"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					
					
					{pboot:sort scode=4}
					<div class="hotpints" style="top: 7881px; left: 494px; width: 207px; height: 63px;">
						<div class="hotpints-resize"></div>
						<a href="[sort:link]" class="DOM"></a>
					</div>
					{/pboot:sort}
					
					
<form action="{pboot:form fcode=3}"  method="post">						
					<div class="hotpints" style="top: 9148px; left: 250px; width: 257px; height: 48px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="name" class="DOM" value="" placeholder="请输入您的称呼" required>
					</div>
					<div class="hotpints" style="top: 9214px; left: 251px; width: 259px; height: 49px;">
						<div class="hotpints-resize"></div>
						<input type="text" name="tel" class="DOM" value="" placeholder="请输入您的手机号码" required>
					</div>
					<div class="hotpints" style="top: 9289px; left: 140px; width: 367px; height: 60px;">
						<div class="hotpints-resize"></div>
						<input type="submit" class="DOM" value="">
					</div>
</form>						
					
					
					
					<div class="hotpints" style="top: 2088px; left: 48px; width: 1098px; height: 477px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/9ca330e6ca1631b048c8e912a9cc6903.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/a2c48eaadf6463d254ec71711ee85118.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/4f32d57d067903ee52d5e74525b79a19.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/6333b65e91deb402a055bf712ad65c31.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/f4f1d6d70a934208875d22c3117d7f12.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/4c7c49554efe9b46f0b06c4b108b334d.png"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
					<div class="hotpints" style="top: 1993px; left: 127px; width: 928px; height: 57px;">
						<div class="hotpints-resize"></div>
						<ul class="swiper-menu-wrap">
							<li
								style="width: 115px; height: 57px; line-height: 57px; background: rgba(0, 0, 0, 0); font-size: 20px; color: rgb(217, 189, 140);">
								门厅</li>
							<li
								style="width: 115px; height: 57px; line-height: 57px; background: RGBA(0,0,0,0); font-size: 20px; color: #ffffff">
								客餐厅</li>
							<li
								style="width: 115px; height: 57px; line-height: 57px; background: RGBA(0,0,0,0); font-size: 20px; color: #ffffff">
								卧室</li>
							<li
								style="width: 115px; height: 57px; line-height: 57px; background: RGBA(0,0,0,0); font-size: 20px; color: #ffffff">
								厨房</li>
							<li
								style="width: 115px; height: 57px; line-height: 57px; background: RGBA(0,0,0,0); font-size: 20px; color: #ffffff">
								卫生间</li>
							<li
								style="width: 115px; height: 57px; line-height: 57px; background: RGBA(0,0,0,0); font-size: 20px; color: #ffffff">
								阳台</li>
							<li
								style="width: 115px; height: 57px; line-height: 57px; background: RGBA(0,0,0,0); font-size: 20px; color: #ffffff">
								全屋智能</li>
						</ul>
					</div>
					<div class="hotpints" style="top: 3606px; left: 50px; width: 1100px; height: 397px;">
						<div class="hotpints-resize"></div>
						<div class="swiper-container" style="width: 100%;height: 100%;">
							<div class="swiper-wrapper">
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/0ee3089bf23165c445affec927f8ef1e.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/096859c5d2db8c11b4fd5b9c00e818d8.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/8386ae34b7f387ebbdb57160cd379b98.png"></div>
								<div class="swiper-slide"><img src="{pboot:sitetplpath}/img/d7f69aedf98ccaa67918637dbdbbee7a.png"></div>
							</div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
						<script>
							var swiper = new Swiper('.swiper-container', {
								slidesPerView: 1,
								spaceBetween: 30,
								loop: true,
								pagination: {
									el: '.swiper-pagination',
									clickable: true,
								},
								navigation: {
									nextEl: '.swiper-button-next',
									prevEl: '.swiper-button-prev',
								},
							});
						</script>
					</div>
				</div>
			</div>
		</div>

		{include file=footer.html}