.case-banner{
	display: block;
	    width: 100%;
	    height: 500px;
}
.site-filter-container{
	width: 100%;
	    height: 190px;
	    background: #fdfdfd;
}
.site-filter-center{
	    width: 1240px;
	    height: auto;
	    margin: 0 auto;
	    padding: 30px 0;
}
.site-filter-center ul{
	width: 100%;
	    height: auto;
}
.site-filter-center ul li{
	width: 100%;
	    height: 65px;
	    border-bottom: 1px solid #f1f1f1;
	    padding: 10px 20px 0;
	    font-size: 14px;
	    color: #363636;
	    display: flex;
	    display: -webkit-flex;
	    display: -ms-flex;
}
.site-filter-center ul li:last-child{
	border-bottom: none;
}
.site-filter-center ul li span{
	display: inline-block;
	    width: 120px;
	    line-height: 50px;
}
.site-filter-center ul li dl{
	    width: 100%;
	    height: 50px;
	    display: flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    -webkit-align-items: center;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
	    align-items: center;
}
.site-filter-center ul li dl dd{
	    margin-right: 10px;
	    transition: all .3s;
	    -moz-transition: all .3s;
	    -webkit-transition: all .3s;
	    -o-transition: all .3s;
	    height: 30px;
	    padding: 0 15px;
	    line-height: 30px;
	    cursor: pointer;
}
.site-filter-center ul li dl dd.active{
	background: #298769;
	    color: #fff;
}
.hot-filter-center{
	width
}
.hot-filter-center .hot-search{
	width: 500px;
	    height: 40px;
	    margin: 0 auto;
	    display: flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    margin-bottom: 30px;
}
.hot-filter-center .hot-search input[type='text']{
	height: 40px;
	    width: 410px;
	    font-size: 14px;
	    text-indent: 30px;
	    border: 1px solid #dcdcdc;
}
.hot-filter-center .hot-search input[type='button']{
	    height: 40px;
	    width: 90px;
	    font-size: 14px;
	    text-align: center;
	    color: #fff;
	    background: #c79e68;
	    border: none;
	    cursor: pointer;
}
.site-lists-container{
	    width: 100%;
	    height: auto;
	    background: #f4f4f4;
	    padding: 40px 0 60px;
}
.site-lists-container ul{
	height: auto;
	    width: 1240px;
	    margin: 0 auto 40px;
	    display: flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    -webkit-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.site-lists-container ul li{
	    width: 610px;
	    height: 300px;
	    padding: 20px;
	    background: #fff;
	    transition: all .5s;
	    -moz-transition: all .5s;
	    -webkit-transition: all .5s;
	    -o-transition: all .5s;
	    margin: 0 20px 20px 0;
}
.site-list-head{
	    display: flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    -webkit-justify-content: space-between;
	    justify-content: space-between;
	    width: 100%;
	    height: 200px;
}
.site-list-head .site-list-headimg{
	width: 290px;
	    height: 200px;
	    background-position: center center;
	    background-size: cover;
}
.site-list-head .site-list-headimg a{
	display: block;
	    width: 100%;
	    height: 100%;
}
.site-list-head .site-list-info{
	width: 260px;
	    height: 200px;
}
.site-list-head .site-list-info h2{
	font-size: 20px;
	line-height: 30px;
}
.site-list-head .site-list-info h2 span{
	margin: 0 10px;
}
.site-list-head .site-list-info h5{
	font-size: 14px;
	margin: 10px 0;
}
.site-list-head .site-list-info p{
	font-size: 14px;
	    display: -moz-box;
	    display: -webkit-box;
	    -webkit-box-orient: vertical;
	    -webkit-line-clamp: 2;
	    overflow: hidden;
	    line-height: 24px;
}
.site-list-head .site-list-info button{
	    width: 190px;
	    height: 40px;
	    border: 1px solid #d1d1d1;
	    font-size: 14px;
	    transition: all .3s;
	    -moz-transition: all .3s;
	    -webkit-transition: all .3s;
	    -o-transition: all .3s;
	    background: none;
	    margin-top: 22px;
	    cursor: pointer;
}
.site-list-head .site-list-info button i{
	width: 18px;
	    height: 18px;
	    background: url(../img/icon.png);
	    background-position: -62px -337px;
	    margin-right: 10px;
}
i{
	display: inline-block;
	    vertical-align: middle;
	    font-style: normal;
}
.site-list-stage{
	    width: 100%;
	    height: 35px;
	    margin-top: 25px;
	    display: -moz-box;
	    display: -webkit-box;
	    border-top: 1px solid #e0e0e0;
}
.site-lists-container ul li:nth-child(2n){
	margin-right: 0;
}
.login-more{
	    width: 1240px;
	    height: 50px;
	    margin: 0 auto;
	    font-size: 14px;
	    background: #fdfdfd;
	    color: #565656;
	    cursor: pointer;
	    display: flex;
	    display: -webkit-flex;
	    display: -ms-flex;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-align-items: center;
	    align-items: center;
}
.loading{
	display: none;
	    font-size: 0;
	    color: #8a8888;
	    margin-right: 10px;
}
.loading{
	width: 20px;
	    height: 20px;
}