* {
	margin: 0;
	padding: 0;
}

.special-container {
	width: 100%;
	height: auto;
	background: url(../img/35253e2118382ff41745b52248a76406_bg.jpg) center top;
}

.special-container .pc-special-wrap {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.special-container .pc-special-wrap .pc-special-img {
	width: 100%;
	height: auto;
}

.special-container .pc-special-wrap .pc-special-img>img {
	vertical-align: bottom;
	width: 100%;
	height: 100%;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap .hotpints {
	position: absolute;
	background: none;
	border: none;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap .hotpints .hotpints-resize {
	width: 10px;
	height: 10px;
	bottom: 0;
	right: 0;
	background: #01aaed;
	z-index: 99;
	display: none !important;
	cursor: se-resize;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap .hotpints .DOM {
	width: 100%;
	height: 100%;
	border: none;
	background: transparent;
	font-size: 18px;
	color: #686868;
	text-indent: 10px;
	outline: none;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap .hotpints a {
	text-decoration: none;
	display: block;
	color: #000;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap .hotpints>* {
	position: absolute;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap .swiper-button-prev {
	left: -40px;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap .swiper-button-next {
	right: -40px;
}

.special-container .pc-special-wrap .spceial-hotpints-wrap ul li {
	list-style: none;
	float: left;
}
